version: '3.8'

services:
  # --- Dask Scheduler ---
  dask-scheduler:
    # Menggunakan image Dask resmi
    image: daskdev/dask:latest
    # Tentukan command untuk menjalankan scheduler
    command: dask scheduler
    # Ekspos port default Dask:
    # 8786 untuk komunikasi (klien & worker)
    # 8787 untuk dashboard web
    ports:
      - "8786:8786"  # Port komunikasi
      - "8787:8787"  # Port dashboard
    # Beri nama yang mudah dikenali
    container_name: dask-scheduler
    # Jadikan scheduler sebagai titik awal
    hostname: dask-scheduler

  # --- Dask Workers ---
  dask-worker-1:
    image: daskdev/dask:latest
    # Tentukan command untuk menjalankan worker, sambungkan ke scheduler
    # Alamat scheduler adalah nama service-nya: dask-scheduler:8786
    command: dask worker tcp://dask-scheduler:8786
    # Worker akan memulai setelah scheduler siap
    depends_on:
      - dask-scheduler
    container_name: dask-worker-1

  dask-worker-2:
    image: daskdev/dask:latest
    command: dask worker tcp://dask-scheduler:8786
    depends_on:
      - dask-scheduler
    container_name: dask-worker-2

  dask-worker-3:
    image: daskdev/dask:latest
    command: dask worker tcp://dask-scheduler:8786
    depends_on:
      - dask-scheduler
    container_name: dask-worker-3
